@model IEnumerable<FoodCorporateLandingPage.Entity.Concrete.SocialMedia>
@{
    ViewData["Title"] = "AdminSocialMediaList";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="page-header">
                    <h2 class="pageheader-title">Sosyal Medyalar</h2>
                    <div class="page-breadcrumb">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="/Admin/Index" class="breadcrumb-link">Kontrol Paneli</a></li>
                                <li class="breadcrumb-item"><a href="/SocialMedia/AdminSocialMediaList" class="breadcrumb-link">Sosyal Medya Listesi</a></li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- end pageheader -->
        <!-- ============================================================== -->

        <div class="row">
            <!-- ============================================================== -->
            <!-- basic table -->
            <!-- ============================================================== -->
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="card">
                    <h5 class="card-header">Sosyal Medya Listesi</h5>
            <a href="/SocialMedia/AddSocialMedia" class="btn btn-primary">Sosyal Medya Ekle</a>
                    <div class="card-body">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Sosyal Medya Adı</th>
                                    <th scope="col">Sosyal Medya URL</th>                                   
                                    <th scope="col">Sil</th>
                                    <th scope="col">Güncelle</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var socialMedia in Model)
                                {
                                    <tr>
                                        <th scope="row">@socialMedia.Id</th>
                                        <td><img src="~/@socialMedia.Name" /></td>
                                        <td>@socialMedia.Url</td>
                                        <td><a href="/SocialMedia/DeleteSocialMedia/@socialMedia.Id" class="btn btn-danger">Sil</a></td>
                                        <td><a href="/SocialMedia/UpdateSocialMedia/@socialMedia.Id" class="btn btn-warning">Güncelle</a></td>
                                    </tr>
                                }

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- end basic table -->
            <!-- ============================================================== -->

        </div>

