    <!--::::: header area start :::::::-->
<div class="header-area wow fadeInDown" id="header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-md-3 align-self-center d-none d-lg-block">
                @await Component.InvokeAsync("SocialMedia")

            </div>
            <div class="col-l2 col-sm-12 col-lg-12 col-xl-6 text-center align-self-center">
                <div class="logo-area active secondary-bg">
                    <a href="index.html" class="logo">
                        <img src="~/img/logo/logo1.png" alt="">
                    </a>
                    <div class="menu-btn">
                        <img src="~/img/icon/menuline.png" alt="">
                    </div>
                </div>
                <div class="main-menu">
                    <div class="stellarnav">
                        <ul class="navbarmneuclass">
                            <li >
                                <a href="/Home/Index">Ana Sayfa</a>
                               
                            </li>
                            <li>
                                <a href="/About/Index">Hakkımızda</a>
                              
                            </li>
                            <li>
                                <a href="/Blog/Index">Blog</a>
                            </li>
                           
                       
                            <li>
                                <a href="/Contact/Index">Contact</a>
                               
                            </li>
                        </ul>
                    </div>
                    <div class="close-btn">
                        <i class="fal fa-times"></i>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 d-none d-lg-block align-self-center text-right">
                <a href="/Contact/Index" class="cbtn btn2">İletişime Geç</a>
            </div>
        </div>
    </div>
</div>
<!--::::: header area end :::::::-->