@model IEnumerable<FoodCorporateLandingPage.Entity.Concrete.SocialMedia>

<div class="header-socials">
    <ul>
        @foreach (var socialMedia in Model)
        {
            <li>
                <a href="#"><i class="fab fa-@socialMedia.Name-f"></i></a>
            </li>
        }
        
        <li class="social-contact-text">
            Telefon Numaramız <span>+@ViewBag.PhoneNumber</span>
        </li>
    </ul>
</div>