<div class="header-socials">
    <ul>
        <li>
            <a href="#"><i class="fab fa-facebook-f"></i></a>
        </li>
        <li>
            <a href="#"><i class="fab fa-twitter"></i></a>
        </li>
        <li>
            <a href="#"><i class="fab fa-pinterest-p"></i></a>
        </li>
        <li class="ml-lg-4">
            <a href="#"><i class="fas fa-phone"></i></a>
        </li>
        <li class="social-contact-text">
            Telefon Numaramız <span>+254122478</span>
        </li>
    </ul>
</div>