  <!--::::: welcome area start :::::::-->
<div class="welcome-area" id="home">
    <div class="container-fluid">
        <div class="welcome-wrap owl-carousel">
            <div class="welcome-single welcome-single1 primary-overlay">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8">
                            <div class="text-box wow fadeInLeft">
                                <h1>
                                    WE SERVE <br>
                                    FOOD BUT WITH
                                    <br>
                                    <span>A PURPOSE.</span>
                                </h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="welcome-single primary-overlay  welcome-single2">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8">
                            <div class="text-box">
                                <h1>
                                    WE SERVE <br>
                                    FOOD BUT WITH
                                    <br>
                                    <span>A PURPOSE.</span>
                                </h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--::::: welcome area end :::::::-->