@model IEnumerable<FoodCorporateLandingPage.Entity.Concrete.HeaderBanner>
  <!--::::: welcome area start :::::::-->
<div class="welcome-area" id="home">
    <div class="container-fluid">
        <div class="welcome-wrap owl-carousel">
           @foreach (var headerBanner in Model)
            {
                <div class="welcome-single welcome-single1 primary-overlay" style="background-image: url(~/@headerBanner.ImagePath);">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-8">
                                <div class="text-box wow fadeInLeft">
                                    <h1>
                                        @headerBanner.Title
                                    </h1>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
       
        </div>
    </div>
</div>
<!--::::: welcome area end :::::::-->