   <!--::::: blog grid area start:::::::-->
<div class="blog-grid-area padding10070">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="heading white text-box">
                    <h2>OUR LATEST <span>ARTICLE</span></h2>
                </div>
            </div>
        </div>
        <div class="space-60"></div>
        <div class="row blog-grid-list">
            <div class="col-lg-4">
                <div class="single-blog">
                    <div class="single-blog-img he">
                        <img src="assets/img/menu/menu_.png" alt=""> <span>January 25, 2019</span>
                    </div>
                    <div class="blog-text-wrap">
                        <div class="blog-text-box2 text-box">
                            <a href="#">four chees grilic bread </a>
                            <p>Want to stay fit? Here ya go classic greek salad with feta cheese &amp; olives.</p>
                        </div> <a href="" class="cbtn btn9">Read more <img src="assets/img/icon/readmorebtn.png" alt=""><i class="far fa-long-arrow-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="single-blog">
                    <div class="single-blog-img he">
                        <img src="assets/img/menu/menu_2.png" alt=""> <span>January 25, 2019</span>
                    </div>
                    <div class="blog-text-wrap">
                        <div class="blog-text-box2 text-box">
                            <a href="#">Rastami roll</a>
                            <p>Want to stay fit? Here ya go classic greek salad with feta cheese &amp; olives.</p>
                        </div> <a href="" class="cbtn btn9">Read more <img src="assets/img/icon/readmorebtn.png" alt=""><i class="far fa-long-arrow-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="single-blog">
                    <div class="single-blog-img he">
                        <img src="assets/img/menu/menu_3.png" alt=""> <span>January 25, 2019</span>
                    </div>
                    <div class="blog-text-wrap">
                        <div class="blog-text-box2 text-box">
                            <a href="#">Shimp scampi</a>
                            <p>Want to stay fit? Here ya go classic greek salad with feta cheese &amp; olives.</p>
                        </div> <a href="" class="cbtn btn9">Read more <img src="assets/img/icon/readmorebtn.png" alt=""><i class="far fa-long-arrow-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="single-blog">
                    <div class="single-blog-img he">
                        <img src="assets/img/menu/menu_6.png" alt=""> <span>January 25, 2019</span>
                    </div>
                    <div class="blog-text-wrap">
                        <div class="blog-text-box2 text-box">
                            <a href="#">Peachy jalapeno</a>
                            <p>Want to stay fit? Here ya go classic greek salad with feta cheese &amp; olives.</p>
                        </div> <a href="" class="cbtn btn9">Read more <img src="assets/img/icon/readmorebtn.png" alt=""><i class="far fa-long-arrow-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="single-blog">
                    <div class="single-blog-img he">
                        <img src="assets/img/menu/menu_7.png" alt=""> <span>January 25, 2019</span>
                    </div>
                    <div class="blog-text-wrap">
                        <div class="blog-text-box2 text-box">
                            <a href="#">Shimp scampi</a>
                            <p>Want to stay fit? Here ya go classic greek salad with feta cheese &amp; olives.</p>
                        </div> <a href="" class="cbtn btn9">Read more <img src="assets/img/icon/readmorebtn.png" alt=""><i class="far fa-long-arrow-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="single-blog">
                    <div class="single-blog-img he">
                        <img src="assets/img/menu/menu_8.png" alt=""> <span>January 25, 2019</span>
                    </div>
                    <div class="blog-text-wrap">
                        <div class="blog-text-box2 text-box">
                            <a href="#">Caperse Salad</a>
                            <p>Want to stay fit? Here ya go classic greek salad with feta cheese &amp; olives.</p>
                        </div> <a href="" class="cbtn btn9">Read more <img src="assets/img/icon/readmorebtn.png" alt=""><i class="far fa-long-arrow-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="single-blog">
                    <div class="single-blog-img he">
                        <img src="assets/img/menu/menu_9.png" alt=""> <span>January 25, 2019</span>
                    </div>
                    <div class="blog-text-wrap">
                        <div class="blog-text-box2 text-box">
                            <a href="#">Beef burger</a>
                            <p>Want to stay fit? Here ya go classic greek salad with feta cheese &amp; olives.</p>
                        </div> <a href="" class="cbtn btn9">Read more <img src="assets/img/icon/readmorebtn.png" alt=""><i class="far fa-long-arrow-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="single-blog">
                    <div class="single-blog-img he">
                        <img src="assets/img/menu/menu_10.png" alt=""> <span>January 25, 2019</span>
                    </div>
                    <div class="blog-text-wrap">
                        <div class="blog-text-box2 text-box">
                            <a href="#">Pan Seared sea</a>
                            <p>Want to stay fit? Here ya go classic greek salad with feta cheese &amp; olives.</p>
                        </div> <a href="" class="cbtn btn9">Read more <img src="assets/img/icon/readmorebtn.png" alt=""><i class="far fa-long-arrow-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="single-blog">
                    <div class="single-blog-img he">
                        <img src="assets/img/menu/menu_11.png" alt=""> <span>January 25, 2019</span>
                    </div>
                    <div class="blog-text-wrap">
                        <div class="blog-text-box2 text-box">
                            <a href="#">Pan seared sea bass</a>
                            <p>Want to stay fit? Here ya go classic greek salad with feta cheese &amp; olives.</p>
                        </div> <a href="" class="cbtn btn9">Read more <img src="assets/img/icon/readmorebtn.png" alt=""><i class="far fa-long-arrow-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--::::: blog grid area end :::::::-->