   <!--::::: apps area start :::::::-->
<div class="apps-area section-margin">
    <div class="container">
        <div class="row apps-warap">
            <div class="col-md-6">
                <div class="apps-img">
                    <img src="assets/img/apps/apps1.jpg" alt="">
                </div>
            </div>
            <div class="col-md-6">
                <div class="apps-text text-box">
                    <h6>teatos app</h6>
                    <h3>download the <span>mobile application</span></h3>
                    <p>I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system,</p>
                    <div class="space-40"></div>
                    <div class="apps-btns-group">
                        <a href="#" class="apps-btn playstore">
                            <i class="fab fa-google-play"></i>
                            Download the <span>google play</span>
                        </a>
                        <a href="#" class="apps-btn appstore">
                            <i class="fab fa-apple"></i>
                            Download the <span>app store</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--::::: apps area end :::::::-->