@model IEnumerable<FoodCorporateLandingPage.Entity.Concrete.About> 
<!--::::: client area start :::::::-->
<div class="space-100"></div>
<div class="client-area">
    <div class="container">
        <div class="row">
            @{
                var aboutList = Model.ToList();
            }

            <div class="col-lg-6">
                <div class="clinets-area owl-carousel">
                    @{
                        // Sadece ikinci öğeyi almak için index kontrolü yapın
                        if (aboutList.Count > 1)
                        {
                            var secondAbout = aboutList[1];
                            <div class="single-client">
                                <img src="@secondAbout.ImagePath" alt="">
                                <div class="space-30"></div>
                                <p>
                                    @Html.Raw(secondAbout.Content)
                                </p>
                                <div class="space-30"></div>
                                <div class="author">
                                    <div class="author__img">
                                        <img src="assets/img/blog/author.png" alt="">
                                    </div>
                                    <p>
                                        Kurucu Ad Soyad <span>Kurucu Unvan</span>
                                    </p>
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>

            <div class="col-lg-6">
                <div class="client-img">
                    <img src="assets/img/blog/client1.png" alt="">
                    <h5>DISCOVER ALL <span>OUR RECIPES</span></h5>
                </div>
            </div>
        </div>
    </div>
</div>
<!--::::: client area end :::::::-->

<div class="space-100"></div>