 <!--:::::footer area start :::::::-->
<div class="footer-area footer-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-7">
                <div class="footer-left section-padding">
                    <div class="row">
                        <div class="col-lg-5">
                            <div class="single-footer">
                                <h3>Usefull Links</h3>
                                <ul>
                                    <li>
                                        <a href="#">About us</a>
                                    </li>
                                    <li>
                                        <a href="#">Our special menu</a>
                                    </li>
                                    <li>
                                        <a href="#">History</a>
                                    </li>
                                    <li>
                                        <a href="#">Contacts</a>
                                    </li>
                                    <li>
                                        <a href="#">Booking table</a>
                                    </li>
                                    <li>
                                        <a href="#">Testimonial</a>
                                    </li>
                                    <li>
                                        <a href="#">Today hot deals</a>
                                    </li>
                                    <li>
                                        <a href="#">Latest news</a>
                                    </li>
                                    <li>
                                        <a href="#">Terms & Conditions</a>
                                    </li>
                                    <li>
                                        <a href="#">Cookie policy</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-7">
                            <div class="instagram-footer">
                                <h3>Instagram</h3>
                                <div class="single-intagram he">
                                    <a href="">
                                        <img src="assets/img/instagram/product1.jpg" alt="">
                                    </a>
                                </div>
                                <div class="single-intagram he">
                                    <a href="">
                                        <img src="assets/img/instagram/product3.jpg" alt="">
                                    </a>
                                </div>
                                <div class="single-intagram he">
                                    <a href="">
                                        <img src="assets/img/instagram/product2.jpg" alt="">
                                    </a>
                                </div>
                                <div class="single-intagram he">
                                    <a href="">
                                        <img src="assets/img/instagram/product4.jpg" alt="">
                                    </a>
                                </div>
                                <div class="single-intagram he">
                                    <a href="">
                                        <img src="assets/img/instagram/product5.jpg" alt="">
                                    </a>
                                </div>
                                <div class="single-intagram he">
                                    <a href="">
                                        <img src="assets/img/instagram/product6.jpg" alt="">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="copyright">
                                <p>2019 © Treatos | Designed by Niloy ahamed sujon</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-5">
                <div class="footer-logo-area">
                    <a href="index.html" class="footer-logo">
                        <img src="assets/img/logo/logo2.png" alt="">
                    </a>
                    <div class="space-20"></div>
                    <div class="footer-cta">
                        <div class="single-footer-cta">
                            <i class="fas fa-phone"></i>
                            call now :
                            <h6>+254712546874</h6>
                        </div>
                        <div class="single-footer-cta">
                            <i class="fal fa-envelope"></i>
                            Email:
                            <h6>Niloyahmedsujon@gmail.com</h6>
                        </div>
                        <div class="single-footer-cta">
                            <i class="far fa-map-marker-alt"></i>
                            Location:
                            <h6>Kushtia, Dhaka, Bangladesh</h6>
                        </div>
                    </div>
                    <div class="footer-social">
                        <ul>
                            <li>
                                <a href="#"><i class="fab fa-facebook-f"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fab fa-twitter"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fab fa-pinterest-p"></i></a>
                            </li>
                        </ul>
                    </div>
                    <div class="back-top text-center">
                        <div class="back-top-btn text-center">
                            <a href="#header">Back to Top <i class="fal fa-angle-up"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--:::::footer area end :::::::-->