@model IEnumerable<FoodCorporateLandingPage.Entity.Concrete.Contact >

<!--:::::footer area start :::::::-->
<div class="footer-area footer-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-7">
                <div class="footer-left section-padding">
                    <div class="row">
                        <div class="col-lg-5">
                            <div class="single-footer">
                                <h3>Menü</h3>
                                <ul>
                                    <li>
                                        <a href="/Home/Index">Ana Sayfa</a>
                                    </li>
                                    <li>
                                        <a href="/About/Index">Hakkımızda</a>
                                    </li>
                                    <li>
                                        <a href="/Blog/Index">Blog</a>
                                    </li>
                                    <li>
                                        <a href="/Contact/Index">İletişim</a>
                                    </li>
                                   
                                </ul>
                            </div>
                        </div>
                        
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="copyright">
                                <p>2023 © Developed by <a href="~/www.yipadanismanlik.com" style="color:#6CA7EC;font-weight:600">YİPA Danışmanlık</a> </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-5">
                <div class="footer-logo-area">
                    <a href="index.html" class="footer-logo">
                        <img src="assets/img/logo/logo2.png" alt="">
                    </a>
                    <div class="space-20"></div>
                   @foreach (var contactInfo in Model)
                    {
                        <div class="footer-cta">
                            <div class="single-footer-cta">
                                <i class="fas fa-phone"></i>
                                Telefon Numaramız :
                                <h6>+@contactInfo.PhoneNumber</h6>
                            </div>
                            <div class="single-footer-cta">
                                <i class="fal fa-envelope"></i>
                                E-Posta:
                                <h6>@contactInfo.Mail</h6>
                            </div>
                            <div class="single-footer-cta">
                                <i class="far fa-map-marker-alt"></i>
                                Adres:
                                <h6>@contactInfo.Address</h6>
                            </div>
                        </div>
                    }
               
                    
                    <div class="back-top text-center">
                        <div class="back-top-btn text-center">
                            <a href="#header">Back to Top <i class="fal fa-angle-up"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--:::::footer area end :::::::-->