      <!--::::: offer area start :::::::-->
        <div class="offer-area padding-top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="offer-img big-offer wow fadeInLeft" data-wow-delay="1s" style="background: url(assets/img/about/about2.jpg);background-repeat: no-repeat;background-position: center;background-size: cover">
                            <div class="text-box">
                                <h4>our hot offer for snack and <span>10% discount</span></h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="offer-img small-offer wow fadeInRight" data-wow-delay="1.2s" style="background: url(assets/img/about/about3.jpg);background-repeat: no-repeat;background-position: center;background-size: cover">
                            <div class="text-box">
                                <h4>our hot offer for snack and <span>10% discount</span></h4>
                            </div>
                        </div>
                        <div class="offer-img small-offer wow fadeInRight" data-wow-delay="1.4s" style="background: url(assets/img/about/about4.jpg);background-repeat: no-repeat;background-position: center;background-size: cover">
                            <div class="text-box">
                                <h4>our hot offer for snack and <span>10% discount</span></h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--::::: offer area end :::::::-->