    <!--::::: cta area start :::::::-->
<div class="call-to-action-area section-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 align-self-center wow fadeInLeft">
                <h2>Haber Bültenimize Abone Olun</h2>
                <p>Since ancient times, wine has been perceive part of our culture and a symbol of good life role of wine has centuries.</p>
            </div>
            <div class="col-lg-6 align-self-center wow fadeInRight">
                <div class="cta-form">
                    <form action="#">
                        <input type="email" placeholder="E-Posta Adresiniz"> <a href="" class="submit-btn">Abone Ol</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!--::::: cta area end :::::::-->