 <!--::::: blog area start:::::::-->
<div class="single-blog-article-area padding10070">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="heading text-box white">
                    <h3>OUR LATEST <span>ARTICLE</span></h3>
                </div>
            </div>
        </div>
        <div class="space-60"></div>
        <div class="row">
            <div class="menu-carousel owl-carousel">
                <div class="single-menu">
                    <div class="single-menu-img he">
                        <img src="assets/img//menu/menu_.png" alt=""> <span>10% off</span>
                    </div>
                    <div class="menu-text-box text-box">
                        <a href="#">Spaghetti alla <span>$27.43</span></a>
                    </div>
                </div>
                <div class="single-menu">
                    <div class="single-menu-img he">
                        <img src="assets/img//menu/menu_2.png" alt=""> <span>10% off</span>
                    </div>
                    <div class="menu-text-box text-box">
                        <a href="#">Bake teriyaki chikcen <span>$45.43</span></a>
                    </div>
                </div>
                <div class="single-menu">
                    <div class="single-menu-img he">
                        <img src="assets/img//menu/menu_3.png" alt=""> <span>10% off</span>
                    </div>
                    <div class="menu-text-box text-box">
                        <a href="#">Apple cider sauce<span>$75.43</span></a>
                    </div>
                </div>
                <div class="single-menu">
                    <div class="single-menu-img he">
                        <img src="assets/img//menu/menu_4.png" alt=""> <span>10% off</span>
                    </div>
                    <div class="menu-text-box text-box">
                        <a href="#">metal nirvana<span>$25.43</span></a>
                    </div>
                </div>
                <div class="single-menu">
                    <div class="single-menu-img he">
                        <img src="assets/img//menu/menu_5.png" alt=""> <span>10% off</span>
                    </div>
                    <div class="menu-text-box text-box">
                        <a href="#">Chicken enchiladas<span>$25.43</span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--::::: blog area end :::::::-->