<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - FoodCorporateLandingPage</title>

    <!--::::: all css css :::::::-->
    <link rel="stylesheet" href="~/css/plugins/animate.min.css">
    <link rel="stylesheet" href="~/css/plugins/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/plugins/fontawesome.css">
    <link rel="stylesheet" href="~/css/plugins/modal-video.min.css">
    <link rel="stylesheet" href="~/css/plugins/stellarnav.css">
    <link rel="stylesheet" href="~/css/plugins/owl.carousel.min.css">
    <link rel="stylesheet" href="~/css/custom_animation.css">
    <link rel="stylesheet" href="~/css/plugins-customized.css">
    <link rel="stylesheet" href="~/css/buttons-style.css">
    <link rel="stylesheet" href="~/css/inner.css">
    <link rel="stylesheet" href="~/css/theme.css">
    <link rel="stylesheet" href="~/css/typography.css">
    <link rel="stylesheet" href="~/css/responsive.css">


</head>
<body>
    <!--body start-->
    <!--:::::loading animations start :::::::-->
    <div class="load-wrapp">
        <div class="perimg">
            <img src="~/img/icon/toolz.png" alt="">
        </div>
        <div class="load-6">
            <div class="letter-holder">
                <div class="l-1 letter">L</div>
                <div class="l-2 letter">O</div>
                <div class="l-3 letter">A</div>
                <div class="l-4 letter">D</div>
                <div class="l-5 letter">I</div>
                <div class="l-6 letter">N</div>
                <div class="l-6 letter">G</div>
                <div class="l-6 letter">.</div>
                <div class="l-6 letter">.</div>
                <div class="l-6 letter">.</div>
            </div>
        </div>
    </div>
    <!--:::::loading animations end :::::::-->
    <!--::::: site area start :::::::-->
    <div class="site primary-bg">
     @RenderBody()
    </div>
    <!--:::::site area end :::::::-->
    <!--:::::ALL JS FILES :::::::-->
    <script src="~/js/plugins/jQuery.2.1.0.min.js"></script>
    <script src="~/js/plugins/bootstrap.min.js"></script>
    <script src="~/js/plugins/jquery.nav.js"></script>
    <script src="~/js/plugins/jquery.waypoints.min.js"></script>
    <script src="~/js/plugins/jquery-modal-video.min.js"></script>
    <script src="~/js/plugins/stellarnav.js"></script>
    <script src="~/js/plugins/popper.min.js"></script>
    <script src="~/js/plugins/owl.carousel.min.js"></script>
    <script src="~/js/plugins/wow.min.js"></script>
    <script src="~/js/plugins/gmap3.js"></script>
    <script src="~/js/plugins/jqueryUI.js"></script>
    <script src="~/js/main.js"></script>
    <script src="~/js/plugins-active.js"></script>
</body>
</html>
