   <!--::::: video area start :::::::-->
<div class="video-area">
    <div class="video-btn">
        <a class="video-btn-link" href="#"><i class="fas fa-play"></i></a>
    </div>
</div>
<!--::::: video area end :::::::-->